.git
.github
.next
node_modules
**/bin
**/obj
**/.vs
**/.tools
**/*.user
**/tsconfig.tsbuildinfo
apps/web/.next
apps/web/playwright-report
apps/web/test-results
apps/web/node_modules
.env
.env.*
!.env.example
